@font-face { font-family: Tungsten; src: url('fonts\\tungstenBold.ttf'); }
@font-face { font-family: Valorant; src: url('fonts\\valoRANT.ttf'); }
@font-face { font-family: DIN Next; src: url('fonts\\dinNextLTProRegular.ttf'); }
body {
	background-image: url('https://i.pinimg.com/originals/e5/2d/57/e52d573ea72014060136bea750762d6e.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
}
#title {
	color: white;
	font-family: Tungsten;
	font-size: 60px;
	position: relative;
	bottom: 0px;
	left: 50px;
}
#p1 {
	color: white;
	font-family: DIN Next;
	font-size: 20px;
	position: relative;
	bottom: 20px;
	left: 50px;
}
#bottomtext {
	color: white;
	font-family: DIN Next;
	font-size: 15px;
	position: relative;
	bottom: 0px;
	left: 50px;
}
#win {
	color: white;
	font-family: Tungsten;
	font-size: 40px;
	position: relative;
	bottom: 0px;
	left: 50px;
	line-height: 0.9;
}
#net {
	color: white;
	font-family: Tungsten;
	font-size: 40px;
	position: relative;
	left: 50px;
	bottom: -15px;
	line-height: 0.9;
}
#winsetup {
	color: white;
	font-family: Tungsten;
	font-size: 40px;
	position: relative;
	bottom: 502px;
	left: 400px;
	line-height: 0.9;
}
a {
	color: inherit;
	text-decoration: none;
}
#scrshots {
	color: white;
	font-family: Tungsten;
	font-size: 40px;
	position: relative;
	bottom: 20px;
	left: 50px;
}
#btnWinDownload {
	margin: 0;
	padding: 0;
	border-radius: 15px;
	font-size: 25px;
	font-family: Tungsten;
	position: relative;
	left: -148px;
	bottom: -40px;
	width: 120px;
	height: 40px;
	background-color: black;
	color: white;
	border: 2px solid black;
}
#btnWinDownload:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}
#btnNetDownload {
	margin: 0;
	padding: 0;
	border-radius: 15px;
	font-size: 25px;
	font-family: Tungsten;
	position: relative;
	left: 50px;
	bottom: 70px;
	width: 120px;
	height: 40px;
	background-color: black;
	color: white;
	border: 2px solid black;
}
#btnNetDownload:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}
#btnSetupDownload {
	margin: 0;
	padding: 0;
	border-radius: 15px;
	font-size: 25px;
	font-family: Tungsten;
	position: relative;
	left: -125px;
	bottom: -40px;
	width: 120px;
	height: 40px;
	background-color: black;
	color: white;
	border: 2px solid black;
}
#btnSetupDownload:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}
